body{
    background-color: beige;
}

p{
    
    background: white;
}

h1{
    text-align: center;
}
em strong{
    color: blue;
}

#cancion{
    font-size: 20px;
    background-color: bisque;
}

.titulo2{
    background-color: white;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#goku2{
    width: 8%;
    height: 8%;
}